doctype html
html 
    head 
        title welcome to dance.com 
        block scripts
        block style
    body
        nav#navbar
            ul 
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Class Info]
                li #[a(href='/contact') Contact Us]
        block content
        footer#footer
            div.contact
                ul
                    li #[a(href='/') Home]
                    li +91-8298879461
                    li asabhya123@gmail.com
            div.copy Copyright &copy; dance academy all right reserved